# Ignorar dependencias y ficheros de compilación
node_modules
dist
build

# Ignorar ficheros de entorno que contienen claves secretas
.env
.env.local
.env.*.local

# Ficheros del sistema operativo
.DS_Store
Thumbs.db
